<h2>Make payment</h2>

<div class="col-md-12">
    <label for="zakat" class="form-label">Zakat</label>
    <input type="number" id="amount" name="zakat" step="0.01" class="form-control">
</div>
<div class="col-md-12">
    <label for="aam" class="form-label">Aam</label>
    <input type="number" id="aam" name="aam" step="0.01" class="form-control">
</div>
<div class="col-md-12">
    <label for="wasiyyat" class="form-label">Wasiyyat</label>
    <input type="number" id="wasiyyat" name="wasiyyat" step="0.01" class="form-control">
</div>
<div class="col-md-12">
    <label for="jalsasalana" class="form-label">Jalsa Salana</label>
    <input type="number" id="jalsasalana" name="jalsasalana" step="0.01" class="form-control">
</div>
<div class="col-md-12">
    <label for="tahrikejadid" class="form-label">Tahrik e Jadid</label>
    <input type="number" id="tahrikejadid" name="tahrikejadid" step="0.01" class="form-control">
</div>
<div class="col-md-12">
    <label for="waqfejadid" class="form-label">Waqf e Jadid</label>
    <input type="number" id="waqfejadid" name="waqfejadid" step="0.01" class="form-control">
</div>
<div class="col-md-12">
    <label for="paymentMethod" class="form-label">Payment Method</label>
    <select id="paymentMethod" name="paymentMethod" class="form-select">
        <option value="">--Select Method--</option>
        <!-- Populate options dynamically -->
        <option value="">Momo</option>
        <option value="">T Cash</option>
        <option value="">Card</option>
    </select>
</div>