@using ChandafyApp.ViewModels
@model CreatePaymentDto;

<h2>Make payment</h2>

<form asp-controller="Payment" asp-action="PaymentPage" class="row g-3">
    <h4 class="mb-3">Chanda Contributions</h4>

    @for (int i = 0; i < Model.ChandaTypes.Count; i++)
    {
        <input type="hidden" name="ChandaAmounts[@i].ChandaTypeId" value="@Model.ChandaTypes[i].Id" />

        <div class="col-md-6">
            <label for="amount_@i" class="form-label">@Model.ChandaTypes[i].Name</label>
            <input type="number"
                   id="amount_@i"
                   name="ChandaAmounts[@i].Amount"
                   step="0.01"
                   class="form-control"
                   placeholder="Enter amount" />
        </div>
    }

    <div class="col-12 mt-4">
        <button type="submit" class="btn btn-primary">Proceed to Payment</button>
    </div>

</form>
