@{
    ViewData["Title"] = "Login";
    var returnUrl = ViewData["ReturnUrl"] as string;
}

<body class="hold-transition login-page" style="background-color:honeydew;">
    <div class="login-box">
        <div class="login-logo" style="">
            @* <img src="~/images/logo.png" alt="Chandafy Logo" class="img-circle elevation-3" /> *@
            <br />
            <a href="#"><b>Chandafy</b>App</a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to your account</p>

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger" role="alert">
                        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                        {
                            <div>@error.ErrorMessage</div>
                        }
                    </div>
                }

                <form asp-action="Index" method="post" aria-label="Login Form" >
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="returnUrl" value="@returnUrl" />

                    <div class="input-group mb-3">
                        <input type="username" name="AimsNumber" class="form-control" placeholder="Aims Number" required aria-label="AimsNumber" autocomplete="AimsNumber" />
                        @* <div class="input-group-append"> *@
                        @*     <div class="input-group-text"> *@
                        @*         <span class="fas fa-envelope"></span> *@
                        @*     </div> *@
                        @* </div> *@
                    </div>

                    <div class="input-group mb-3">
                        <input type="password" name="password" class="form-control" placeholder="Password" required aria-label="Password" autocomplete="current-password" />
                        @* <div class="input-group-append"> *@
                        @*     <div class="input-group-text"> *@
                        @*         <span class="fas fa-lock"></span> *@
                        @*     </div> *@
                        @* </div> *@
                    </div>

                    <div class="row align-items-center mb-2">
                        <div class="col-7">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember" name="remember" />
                                <label for="remember">Remember Me</label>
                            </div>
                        </div>
                        <div class="col-5 text-right">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                    </div>
                </form>

                <p class="mb-1 text-center">
                    <a href="/Account/ForgotPassword">Forgot password?</a>
                </p>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/admin-lte/js/adminlte.min.js"></script>
</body>
