<footer class="footer mt-auto py-3 bg-light border-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                &copy; @DateTime.Now.Year - ChandafyApp
            </div>
            <div class="col-md-6 text-center text-md-end">
                <span class="text-muted">Version 1.0.0</span>
            </div>
        </div>
    </div>
</footer>